<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
              <% if !topic.favorite_users.include?(current_user) %>
                <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
                <% end %>
              <% else %>
                 <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                   <i class="fa fa-heart" style="color:red" aria-hidden="true"></i>
                 <% end %>
                 <%= topic.favorite_users.count %>
              <% end %>
              <%= link_to comments_path(topic_id: topic.id), method: :get do %>
                <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
              <% end %>
              <%= link_to edit_topic_path(id: topic.id), method: :get do %> <%# topic_id: topic.idだとエラーになってtopic.idだとedit.htmlにtopicのid渡してくれた　%>
                <i class="fa fa-edit fa-lg" style="color:black"></i>
              <% end %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            <p class="comment">コメント</p>
              <% topic.comments.each do |comment| %>
                <p class="topic-text">
                  <%= comment.content %>
                </p>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>